<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="testng test" verbose="1">
    <listeners>
        <listener class-name="com.tutorialsninja.demo.customlisteners.CustomListeners"></listener>
    </listeners>
    <test name="test">
        <classes>
            <class name="com.tutorialsninja.demo.testsuite.DesktopsTest"></class>
            <class name="com.tutorialsninja.demo.testsuite.LaptopsAndNotebooksTest"></class>
            <class name="com.tutorialsninja.demo.testsuite.TopMenuTest"></class>
            <class name="com.tutorialsninja.demo.testsuite.MyAccountsTest"></class>
        </classes>
    </test>
</suite>
